@font-face {
  font-family: "Futura-Condensed";
  src: url(./fonts/Futura\ Condensed\ Regular.ttf);

  src: url(./fonts/Futura\ Condensed\ Bold.otf);
}

body {
  font-family: Futura-Condensed;
}
p {
  font-family: Futura-Condensed;
}
#firstImage {
  background-color: black;
}
.headerImg1{
width: auto;
height: 700px;
}